[Desktop Entry]
Type=Application
Name[ca]=Lector de pantalla Orca
Name[ckb]=خوێنەری پەردەی ئۆرکا
Name[cs]=Čtečka obrazovky Orca
Name[da]=Orca Skærmlæser
Name[de]=Orca-Bildschirmleser
Name[el]=Αναγνώστης οθόνης Orca
Name[en_GB]=Orca screen reader
Name[es]=Lector de pantalla Orca
Name[eu]=Orca pantaila-irakurlea
Name[fi]=Orca-näytönlukija
Name[fr]=Lecteur d’écran Orca
Name[gl]=Lector da pantalla Orca
Name[hu]=Orka képernyőolvasó
Name[id]=Pembaca layar Orca
Name[it]=Lettore schermo Orca
Name[kk]=Orca экраннан оқитын қолданбасы
Name[lt]=Orca ekrano skaityklė
Name[lv]=Orca ekrāna lasītājs
Name[ms]=Pembaca skrin Orca
Name[ne]=ओर्का दृष्टि वाचक
Name[nl]=Orca schermlezer
Name[pl]=Czytnik ekranowy Orca
Name[pt_BR]=Leitor de tela Orca
Name[ro]=Cititorul de ecran Orca
Name[ru]=Экранный диктор Orca
Name[sl]=Bralnik zaslona Orka
Name[sr]=Читач екрана Орка
Name[sv]=Orca skärmläsare
Name[tr]=Orca ekran okuyucusu
Name[uk]=Інструмент читання з екрана
Name=Orca screen reader
Exec=orca
NoDisplay=true
AutostartCondition=GSettings org.gnome.desktop.a11y.applications screen-reader-enabled
X-GNOME-AutoRestart=true
#X-GNOME-Autostart-Phase=Initialization
OnlyShowIn=GNOME;MATE;Unity;Cinnamon;
