[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/matthew/Desktop/Brave.desktop]
row=2
col=0

[/home/matthew/Desktop/firefox.desktop]
row=1
col=0

[/home/matthew/Desktop/xfce4-taskmanager.desktop]
row=1
col=1

[/home/matthew/Desktop/Pygame tutorial.desktop]
row=0
col=1

[/home/matthew/Desktop/exo-file-manager.desktop]
row=3
col=0

[/home/matthew/Desktop/Thunderbird.desktop]
row=4
col=0

[Trash]
row=0
col=0

