[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/matthew/Desktop/Half-Life.desktop]
row=1
col=15

[/home/matthew/Desktop/Fallout.desktop]
row=0
col=15

[/home/matthew/Desktop/Brave.desktop]
row=2
col=0

[/home/matthew/Desktop/htop.desktop]
row=3
col=1

[/home/matthew/Desktop/xfce4-taskmanager.desktop]
row=2
col=1

[/home/matthew/Desktop/exo-file-manager.desktop]
row=3
col=0

[/home/matthew/Desktop/teeworlds.desktop]
row=1
col=14

[/home/matthew/Desktop/geany.desktop]
row=0
col=2

[/home/matthew/Desktop/gimp.desktop]
row=1
col=1

[/home/matthew/Desktop/Thunderbird.desktop]
row=0
col=1

[/home/matthew/Desktop/sublime_text.desktop]
row=1
col=2

[/home/matthew/Desktop/vim.desktop]
row=2
col=2

[/home/matthew/Desktop/emacs.desktop]
row=3
col=2

[/home/matthew/Desktop/firefox.desktop]
row=1
col=0

[/home/matthew/Desktop/Undertale.desktop]
row=0
col=14

[Trash]
row=0
col=0

